/* Global Styles */
body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: rgb(0, 81, 255);
    position: relative;
  }
  
  /* Logo Styles */
  .logo {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 150px;
    width: auto;
  }
  
  /* Container with the background image */
  .container {
    background: url('https://www.papeiseparede.com.br/4951-thickbox_default/papel-de-parede-sala-de-jogos-classicos.jpg.webp') no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Content div for text and button */
  .content {
    width:500px;
    height:300px;
    text-align: center;
    background-color: rgba(0, 0.4, 0.5, 0.1);
    padding: 40px 40px;
    border-radius: 10px;
  }
  
  .content h2 {
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
  }
  .content p {
    font-size: 20px;
    margin-bottom: 20px;
    text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
  }


  img{
    width: 150px;
    height: 150px;
    border: solid black;
  }
  
  /* Button Styles */
  button {
    background-color: #3586ff;
    border: solid black;
    padding: 10px 20px;
    font-size: 1.2em;
    color:black;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #7cc0ff;
  }

  /* Footer Styles */
  footer {
    text-align: center;
    padding: 10px;
  }

  
  