/* Global Styles */
body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: rgb(0, 81, 255);
    position: relative;
  }
  
  /* Logo Styles */
  .logo {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 150px;
    width: auto;
  }
  
  /* Container with the background image */
  .container {
    background: url('https://img.freepik.com/vetores-premium/brinquedos-de-madeira-para-criancas-para-o-fundo-de-jogos-montessori-brinquedos-de-logica-de-educacao-para-criancas-pre-escolares-sistema-montessori-para-o-desenvolvimento-da-primeira-infancia_192280-187.jpg') no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Content div for text and button */
  .content {
    width:500px;
    height:300px;
    text-align: center;
    background-color: rgba(0, 0.4, 0.5, 0.1);
    padding: 40px 40px;
    border-radius: 10px;
  }
  
  .content h2 {
    margin-bottom: 20px;
  }


  img{
    width: 150px;
    height: 150px;
  }
  
  /* Button Styles
  button {
    background-color: #ff1b7b;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #1ABC9C;
  } */
  
  /* Footer Styles */
  footer {
    text-align: center;
    padding: 10px;
  }
  