/* Global Styles */
body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    position: relative;
  }
  
  /* Logo Styles */
  .logo {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 150px;
    width: auto;
  }
  
  /* Container with the background image */
  .container {
    background: url('https://img.freepik.com/vetores-gratis/fundo-papel-de-parede-de-fundo-do-telefone-com-padrao-de-moeda-de-ouro-ilustracao-de-financiamento-de-vetor-de-dinheiro_53876-144613.jpg?t=st=1743872288~exp=1743875888~hmac=1bfd21aa1b2f503e140e219b433acd580587adb05670eb8cb23ba0b8681b7ad0&w=996') no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Content div for text and button */
  .content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 8px;
  }
  
  .content h2 {
    margin-bottom: 20px;
  }
  
  /* Button Styles */
  button {
    background-color: gold;
    border-radius: 16px;
    padding: 10px 20px;
    font-size: 1.2em;
    color: darkgreen;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: yellow;
  }
  
  /* Footer Styles */
  footer {
    text-align: center;
    padding: 10px;
  }
  